div{
	text-align: center;
	align-content: center;
	background-color: green;
}
form{
	background-color: #FFFD32FF;
	display: inline;
	border: 1px black solid;
	padding: 1% 20%;

	
	
}
label{
	padding: 0% 2%;
}
